{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Добро пожаловать на сайт просто магазина</h1>
      <p>Лучшие мобилы только у нас:</p>
    </div>
  </div>


  <div class="container mb-5">
    <!-- Example row of columns -->
    <div class="row">
      {% for phone in phones %}
        <div class="col-md-4">
          <h2>{{ phone.name }}</h2>

          <a href="{% url 'phone_view' phone.id %}">
            <img src="{{ phone.image.url }}" width="180">
          </a>

          <form>
            <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
          </form>
        </div>
      {% endfor %}

    </div>
  </div> <!-- /container -->

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Не знаете что одеть летом?</h1>
      <p>Вот что мы можем предложить:</p>
    </div>
  </div>


  <div class="container mb-5">
    <!-- Example row of columns -->
    <div class="row">

      {% for item in summer_wear %}
        <div class="col-md-4">
          <h2>{{ item.name }}</h2>
  
          <a href="{{ item.slug }}">
  
            <img src="{{ item.image.url }}" width="180">
  
          </a>
  
          <form>
            <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
          </form>
        </div>
  
      {% endfor %}
      
    </div>
  </div> <!-- /container -->

</main>

{% endblock %}