{% extends 'shop/base.html' %}
{% load static %}z

{% block content %}
<main role="main">

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Добро пожаловать на сайт просто магазина</h1>
            <p>Лучшие мобилы только у нас:</p>
        </div>
    </div>


    <div class="container mb-5">
        <!-- Example row of columns -->
        <div class="row">
            {% for phone in phones %}
            <div class="col-md-4">
                <h2>{{ phone.name }}</h2>

                <a href="{% url 'item_view' phone.id %}">
                    <img src="{{ phone.image.url }}" width="180">
                </a>

                {% if user.is_authenticated %}
                <form method="post" action="{% url 'add_item_to_cart' item_id=phone.id user=user_session %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
                </form>
                {% else %}
                <form method="post" action="{% url 'not_authenticated_user' %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
                </form>
                {% endif %}

            </div>
            {% endfor %}

        </div>
    </div> <!-- /container -->

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Не знаете что одеть летом?</h1>
            <p>Вот что мы можем предложить:</p>
        </div>
    </div>


    <div class="container mb-5">
        <!-- Example row of columns -->
        <div class="row">

            {% for item in wear %}
            <div class="col-md-4">
                <h2>{{ item.name }}</h2>

                <a href="{% url 'item_view' item.id %}">

                    <img src="{{ item.image.url }}" width="180">

                </a>

                {% if user.is_authenticated %}
                <form method="post" action="{% url 'add_item_to_cart' item_id=item.id user=user_session %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
                </form>
                {% else %}
                <form method="post" action="{% url 'not_authenticated_user' %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
                </form>
                {% endif %}

            </div>

            {% endfor %}

        </div>
    </div> <!-- /container -->

</main>

{% endblock %}