{% extends 'shop/base.html' %}
{% load static %}
{% load star_filter_tags %}


{% block content %}
<main role="main">

  <div class="container mt-3">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-12">
        <h2>{{ phone.name }}</h2>

        <img src="{{ phone.image.url }}" width="120">

        <p>{{ phone.description }}</p>
<!--        TODO: добавить добавление в корзину   -->
        <form method="post" action="./cart/">
          <input type="hidden" name="csrfmiddlewaretoken"
                 value="N4vcBqzjoYkU7OTDuAT8hq8srpvYX44nJsswuP7e3EYg0Hq8DgxuR0eiXWbSr5RZ">
          <input type="hidden" name="merchandise_id" value="1">
          <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
        </form>
      </div>
    </div>
    <hr>

<!--    блок вывода количества звезд и отзывов-->
    {% if phone.reviews.count > 0 %}
      {% for review in phone.reviews.all %}
        {{ review.star|get_stars }} {{ review.name }}<br>
        {{ review.text }}<br><br>
      {% endfor %}
    {% else %}
        <p>Пока нет ни одного отзыва!</p>
    {% endif %}
<!--  конец блока  -->
    <hr>

    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-12">
        {% if not reviewd %}
          <h4>Оставте отзыв:</h4>

          <form action="{% url 'phone_view' item_id=phone.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Оставить</button>
          </form>
        {% else %}
          <h4>Вы уже оставляли отзыв к данному товару</h4>
        {% endif %}

      </div>
    </div>

  </div> <!-- /container -->

</main>

{% endblock %}