{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
  <main role="main">
    <div class="container">
      <h1>Смартфоны</h1>

      <div class="row">
        {% for item in category_items %}
          <div class="col-md-4">
            <h2>{{ item.name }}</h2>
            <a href="{% url 'item_view' item.id %}">
              <img src="{{ item.image.url }}" width="120">
            </a>

            <form>
              <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
            </form>

          </div>
        {% endfor %}
      </div>

      <div class="row">
        <div class="col-md-12" style="margin-top: 20px;">
          {% if prev_page_url %}
            <a class="button button-primary" href="{{ prev_page_url }}">⟵</a>
          {% endif %}
            <a class="button disabled" href="">{{ current_page }}</a>
          {% if next_page_url %}
            <a class="button button-primary" href="{{ next_page_url }}">⟶</a>
          {% endif %}
        </div>
      </div>

    </div> <!-- /container -->
  </main>
{% endblock %}
