{% extends 'app/base.html' %}

{% block title %}
    <title>Контакты</title>
{% endblock %}


{% block nav %}
     <nav class="row">
      <div class="nav-wrapper col s12">
        <a href="{% url 'home' %}" class="brand-logo">
        Компьютеры</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'examples' %}">Примеры</a></li>
          <li class="active"><a href="{% url 'contacts' %}">Контакты</a></li>
          <li><a href="{% url 'about' %}">О проекте</a></li>
        </ul>
      </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col s12">
        <h1 class="col s12">Где можно посмотреть и купить</h1>

        <div class="col s12 m8">
            <div>Ждем вас по адресу
                <b>Кремниевая долина, Купертино, Калифорния</b>
            </div>
        </div>
      </div>
    </div>
{% endblock %}
